# build-windows.yml
---
name: build

on:
  workflow_call:
    inputs:
      software-version:
        type: string
        description: "Version number"
        required: true
      dotnet-version:
        type: string
        required: true

jobs:
  build:
    name: "win-x64"
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: Publish
        working-directory: ./src
        run: |
          dotnet publish `
              GEHistoricalImagery/GEHistoricalImagery.csproj `
              --arch x64 `
              --os win `
              --configuration Release `
              --output "../bin/gdal" `
              -p:PublishProtocol=FileSystem `
              -p:SelfContained=true `
              -p:PublishAot=true

      - name: Build bundle
        id: bundle
        working-directory: ./bin/
        run: |          
          $SCRIPT=@"
          @echo off
          set SCRIPT_DIR=%~dp0
          set GEHistoricalImagery_Cache=%SCRIPT_DIR%cache
          set GDAL_DATA=%SCRIPT_DIR%gdal
          set GEOTIFF_CSV=%GDAL_DATA%
          set PROJ_LIB=%GDAL_DATA%
          "%SCRIPT_DIR%gdal\GEHistoricalImagery.exe" %*
          "@
          
          Set-Content -Path ./GEHistoricalImagery.bat -Value $SCRIPT -Encoding UTF8
          
          $artifact="GEHistoricalImagery.${{ inputs.software-version }}-win-x64.zip"
          "artifact=$artifact" >> $env:GITHUB_OUTPUT
          Compress-Archive -Path ./* -DestinationPath "$artifact"

      - name: Publish artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.bundle.outputs.artifact }}
          path: ./bin/${{ steps.bundle.outputs.artifact }}
          if-no-files-found: error
          retention-days: 7
