# build-linux.yml
# Reusable workflow that builds the Linux and MacOS (x64 and arm64) versions of Libation.
---
name: build

on:
  workflow_call:
    inputs:
      software-version:
        type: string
        description: "Version number"
        required: true
      architecture:
        type: string
        description: "CPU architecture targeted by the build."
        required: true
      dotnet-version:
        type: string
        required: true

jobs:
  build:
    name: "linux-${{ inputs.architecture }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: Publish
        id: publish
        working-directory: ./src
        run: |
          preprocessor="LINUX"          
          
          dotnet publish \
              GEHistoricalImagery/GEHistoricalImagery.csproj \
              --os linux \
              --arch ${{ inputs.architecture }} \
              --configuration Release \
              --output "../bin/gdal" \
              -p:DefineConstants=$preprocessor \
              -p:PublishProtocol=FileSystem \
              -p:SelfContained=true \
              -p:PublishTrimmed=true \
              -p:PublishSingleFile=true

      - name: Build bundle
        id: bundle
        working-directory: ./bin
        run: |
          scriptfile=GEHistoricalImagery
          
          echo -e '#!/usr/bin/env bash' > $scriptfile
          echo -e 'SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )' >> $scriptfile
          echo -e 'export GEHistoricalImagery_Cache="$SCRIPT_DIR/cache"' >> $scriptfile
          echo -e 'export GDAL_DATA="$SCRIPT_DIR/gdal"' >> $scriptfile
          echo -e 'export GDAL_DRIVER_PATH="$SCRIPT_DIR/gdal"' >> $scriptfile
          echo -e 'export PROJ_LIB="$SCRIPT_DIR/gdal"' >> $scriptfile
          echo -e '"$SCRIPT_DIR/gdal/GEHistoricalImagery" "$@"' >> $scriptfile
          chmod +x $scriptfile
          
          artifact="GEHistoricalImagery.${{ inputs.software-version }}-linux-${{ inputs.architecture }}.tar.gz"
          
          tar -cz -f "./$artifact" *
          echo "artifact=${artifact}" >> "${GITHUB_OUTPUT}"
          
      - name: Publish bundle
        uses: actions/upload-artifact@v5
        with:
          name: ${{ steps.bundle.outputs.artifact }}
          path: ./bin/${{ steps.bundle.outputs.artifact }}
          if-no-files-found: error
          retention-days: 7
