# build.yml
---
name: build

on:
  workflow_call:
    inputs:
      software-version:
        type: string
        description: "Version number"
        required: true
      dotnet-version:
        type: string
        default: "10.x"
        description: ".NET version to target"
      release:
        type: boolean
        description: "Whether this workflow is being called as a release"

jobs:

  macOS:
    strategy:
      matrix:
        architecture: [x64, arm64]
    uses: ./.github/workflows/build-mac.yml
    with:
      software-version: ${{ inputs.software-version }}
      architecture: ${{ matrix.architecture }}
      dotnet-version: ${{ inputs.dotnet-version }}
      sign-app: ${{ inputs.release || vars.SIGN_MAC_APP_ON_VALIDATE == 'true' }}
    secrets: inherit

  linux:
    strategy:
      matrix:
        architecture: [x64, arm64]
    uses: ./.github/workflows/build-linux.yml
    with:
      software-version: ${{ inputs.software-version }}
      architecture: ${{ matrix.architecture }}
      dotnet-version: ${{ inputs.dotnet-version }}

  windows:
    uses: ./.github/workflows/build-windows.yml
    with:
      software-version: ${{ inputs.software-version }}
      dotnet-version: ${{ inputs.dotnet-version }}
