# validate.yml
---
name: validate

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  get_version:
    runs-on: ubuntu-slim
    outputs:
      version: ${{ steps.get_version.outputs.version }}
    steps:
      - name: Get version
        id: get_version
        run: |
          wget "https://raw.githubusercontent.com/${{ github.repository }}/${{ github.sha }}/src/GEHistoricalImagery/GEHistoricalImagery.csproj"
          version="$(grep -Eio -m 1 '<Version>.*</Version>' ./GEHistoricalImagery.csproj | sed -r 's/<\/?Version>//g')"
          echo "version=${version}" >> "${GITHUB_OUTPUT}"
  build:
    needs: [get_version]
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      software-version: ${{ needs.get_version.outputs.version }}
